# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
from pyspark.sql import types as T


spark = SparkSession.builder\
                    .appName('housingmarket')\
                    .getOrCreate()

25/06/16 21:24:23 WARN Utils: Your hostname, kevin-llanos-Type1ProductConfigId resolves to a loopback address: 127.0.1.1; using 192.168.1.92 instead (on interface wlo1)
25/06/16 21:24:23 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/06/16 21:24:23 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

25/06/16 21:24:38 WARN GarbageCollectionMetrics: To enable non-built-in garbage collector(s) List(G1 Concurrent GC), users should configure it(them) to spark.eventLog.gcMetrics.youngGenerationGarbageCollectors or spark.eventLog.gcMetrics.oldGenerationGarbageCollectors

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [23]:
import random
import numpy as np


numbers1 = np.random.randint(1, 4, 100)

numbers2 = np.random.randint(1, 3, 100)

numbers3 = np.random.randint(10000, 30000, 100)

In [ ]:
numbers_1 = [random.randint(1, 4) for i in range(1, 101)]

numbers_2 = [random.randint(1, 3) for i in range(1, 101)]

numbers_3 = [random.randint(1, 10000) for i in range(1, 101)]

In [9]:
s1 = pd.Series(numbers1)

s2 = pd.Series(numbers2)

s3 = pd.Series(numbers3)

### Step 3. Let's create a DataFrame by joinning the Series by column

In [33]:
data = list(zip(numbers_1, numbers_2, numbers_3))


schema = T.StructType([
    T.StructField('col1', T.IntegerType()),
    T.StructField('col2', T.IntegerType()),
    T.StructField('col3', T.IntegerType()),

])
market = spark.createDataFrame(data, schema=schema)
market.show()

+----+----+----+
|col1|col2|col3|
+----+----+----+
|   3|   3|1135|
|   3|   3|8605|
|   4|   3|5364|
|   1|   2|3753|
|   4|   2|3952|
|   2|   1|8352|
|   4|   2|6919|
|   3|   1|1851|
|   3|   3|9642|
|   2|   3| 676|
|   3|   1|3219|
|   3|   3|6755|
|   4|   1|7192|
|   1|   3|7224|
|   3|   2|7983|
|   1|   1|1112|
|   3|   2|9771|
|   1|   1|7950|
|   1|   1|6865|
|   1|   1|4925|
+----+----+----+
only showing top 20 rows

In [11]:
df = pd.concat([s1, s2, s3], axis=1)

df.columns= ['col1', 'col2', 'col3']

df

    col1  col2   col3
0      1     1  28660
1      1     2  11752
2      2     2  18384
3      3     2  23996
4      1     2  19456
..   ...   ...    ...
95     2     1  20252
96     3     1  16246
97     3     1  13296
98     3     2  10622
99     2     2  16473

[100 rows x 3 columns]

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [42]:

columns = market.columns

new_cols = ['beds', 'baths', 'price_sqr_meter']

for i, col in enumerate(columns):
    
    print(f'Renombrando {col} por  {new_cols[i]}')
    
    market = market.withColumnRenamed(col,  new_cols[i])

Renombrando col1 por  beds
Renombrando col2 por  baths
Renombrando col3 por  price_sqr_meter

In [43]:
market.show()

+----+-----+---------------+
|beds|baths|price_sqr_meter|
+----+-----+---------------+
|   3|    3|           1135|
|   3|    3|           8605|
|   4|    3|           5364|
|   1|    2|           3753|
|   4|    2|           3952|
|   2|    1|           8352|
|   4|    2|           6919|
|   3|    1|           1851|
|   3|    3|           9642|
|   2|    3|            676|
|   3|    1|           3219|
|   3|    3|           6755|
|   4|    1|           7192|
|   1|    3|           7224|
|   3|    2|           7983|
|   1|    1|           1112|
|   3|    2|           9771|
|   1|    1|           7950|
|   1|    1|           6865|
|   1|    1|           4925|
+----+-----+---------------+
only showing top 20 rows

In [45]:
df.columns  = ['beds', 'baths', 'price_sqr_meter']

df

    beds  baths  price_sqr_meter
0      1      1            28660
1      1      2            11752
2      2      2            18384
3      3      2            23996
4      1      2            19456
..   ...    ...              ...
95     2      1            20252
96     3      1            16246
97     3      1            13296
98     3      2            10622
99     2      2            16473

[100 rows x 3 columns]

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

### Step 6. Oops, it seems it is going only until index 99. Is it true?

### Step 7. Reindex the DataFrame so it goes from 0 to 299